# Default owner
* @BenjaminSRussell

# Areas
/Scraping_project/src/stage1/ @BenjaminSRussell
/Scraping_project/src/stage2/ @BenjaminSRussell
/Scraping_project/src/stage3/ @BenjaminSRussell
/Scraping_project/src/common/ @BenjaminSRussell
